$black :#000;
$gray: #d0d0ce;
$white: #fff;
$pink: #ef426f;
$blue: #0084d4;
$yellow: #ffdd46;
$green: #26d07c;


body {
  font-family: Arial, Helvetica, sans-serif;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  position: relative;
  margin: 100px 0 0 0;
  padding: 70px 0 200px;
  min-width: 1715px;

  &:after {
    content: " ";
    width: 1px;
    background-color: #eee;
    z-index: -3;
    position: absolute;
    top: 0;
    bottom: 375px;
    left: 0;
    right: 0;
    margin: 0 auto;
    display: block;
  }
}

.title {
  position: absolute;
  top: -250px;
  left: 50px;
  font-size: 4em;
  letter-spacing: 3px;
  text-transform: uppercase;
  display: none;
  font-weight: 600;
  & span {
    letter-spacing: 1px;
    display: block;
    font-size: .3em;
    font-weight: 400;
  }

}

.printBTN, .standard {
  text-decoration: none;
  color: $black;
  padding: 10px 20px;
  background-color: $gray;
  border-radius: 3px;
  position: fixed;
  bottom: 10px;
  right: 10px;
  z-index: 1;
  cursor: pointer;
  user-select: none;
}

.standard {
  right: 100px;
}

#root div div:nth-child(2) {
  max-width: 1635px;
  padding: 40px;
  margin: 0 auto;
}

.row {
  clear: both; 
  margin: 0 auto 5px 0;
  text-align: center;
  width: 1635px;
  position: relative;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

.rowName{
  display: block;
  position: absolute;
  top: 3px;
  left: -20px;
  cursor: pointer;
  user-select: none;
  min-width: 20px;

  &:nth-child(3) {
    right: -20px;
    left: auto;
  }
}
.row ul {
  position: relative;
  width: 100%;
}

.zoneSelector {
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  background: #f7f7f7;
  z-index: 1;
  padding: 20px;
}

.zoneSelector li {
  height: 50px;
  float: left;
  width: 221px;
}

input {
  display: block;
  background-color: transparent;
  border: none;
  padding: 0 0 5px 0;
  margin: 0;
  font-size: 1em;
  color: inherit;
  font-family: 'Montserrat', sans-serif;
}

.totalSeats {
  margin: 0 10px;
  display: block;

}

.seat, .zoneSelector .zone {
  padding: 5px 0;
  margin: 0 1px 10px 0;
  position: relative;
  background: #d0d0ce;
  font-size: .7em;
  line-height: 1.1em;
  color :#000;
  width: 22px;
  height: 12px;
  text-align: center;
  cursor: pointer;
  user-select: none;
  border-radius: 100%;
  display: inline-block;
  text-align: center;
}

.zoneSelector .zone {
  font-size: 1em;
  border-radius: 3px;
  padding: 12px 10px 10px;
  width: auto;
  min-width: 22px;
  height: 20px;
  margin: 0 10px 0;
  float: left;
}

.zoneSelector .zone, .seat.zoneOne {
  background: $gray;
  color: $black;
}

.zoneTwo .zone, .seat.zoneTwo {
  background: $pink;
  color: $white;
}

.zoneThree .zone, .seat.zoneThree {
  background: $blue;
  color: $white;
}

.zoneFour .zone, .seat.zoneFour {
  background: $yellow;
}

.zoneFive .zone, .seat.zoneFive {
  background: $green;

}

.zoneSix .zone, .seat.zoneSix {
  background: $black;
  color: $white;
}

/* row positioning */
.AA ul :nth-child(1) {
  margin-left: 70px;
}

.BB ul :nth-child(1) {
  margin-left: -20px;
}

.CC {
  margin-bottom: 30px;
}

.C ul :nth-child(1) {
  margin-left: 80px;
}

.C38, .I43 {
  margin-right: 60px;
}

.D ul :nth-child(1) {
  margin-left: 298px;
}

.E ul :nth-child(1) {
  margin-left: -47px;
}

.F ul :nth-child(1) {
  margin-left: 22px;
}

.H ul :nth-child(1) {
  margin-left: -92px;
}

.I ul :nth-child(1) {
  margin-left: 10px;
}

.J ul :nth-child(1) {
  margin-left: 253px;
}

.P ul :nth-child(1) {
  margin-left: -22px;
}

.Q {
  margin-bottom: 20px;
}

.R ul :nth-child(1) {
  margin-left: -22px;
}

.U ul :nth-child(1) {
  margin-left: 22px;
}

.V ul :nth-child(1) {
  margin-left: -24px;
}

.W ul :nth-child(1) {
  margin-left: -22px;
}

.X28, .X41 {
  margin-right: 70px;
}

.Y ul :nth-child(1) {
  margin-left: 90px;
}

.Y46 {
  margin-right: 30px;
}

.Y15 {
  margin-right: 70px;
}

.Y39, .Z38 {
  margin-right: 395px;
}

.Z {
  margin-bottom: 100px;
}

.Z ul :nth-child(1) {
  margin-left: 230px;
}

.TC ul :nth-child(1) {
  margin-left: -45px;
}

/* Stage */
.stage {
  width: 600px;
  height: 5px;
  position: absolute;
  top: -28px;
  left: 0;
  right: 0;
  margin: 0 auto;
  padding: 45px 0 0 0;
  background-color: #000;
  color:#fff;
  font-size: 2em;
  text-align: center;
}

  .stage:after {
    border-radius: 100%;
    content: " ";
    background-color: #000;
    width: 100%;
    height: 100px;
    position: absolute;
    display: block;
    bottom: -50px;
    z-index: -1;
  }

/* Orchestra/Tier */
.orch, .tier {
  text-align: center;  
  font-size: 2em;
  position: absolute;
  top: 1210px;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 200px;
}

.tier {
  top: 1715px;
}

.orchLeft, .orchRight {
  position: absolute;
  top: 200px;
  left: 50px;
  font-size: 1.2em;
}

.orchRight {
  left: auto;
  right: 50px;
}

/* Sound Mix */
.sound {
  position: absolute;
  top: 1135px;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 200px;
  background-color: rgb(245, 245, 245);
  padding: 20px 45px;
  text-align: center;  
}

/* Platforms */
.C:before, .I:before, .Y:before, .Y:after {
  content: "Platform C (43-38)";
  position: absolute;
  left: 326px;
  top: -60px;
  width: 146px;
  transform: rotate(0.035turn);
  padding: 40px 0 5px 0;
  background-color: #f7f7f7;
  z-index: -2;
}

.I:before {
  content: "Platform I (50-43)";
  left: 207px;
  top: -86px;
  width: 198px;
  transform: rotate(0.045turn);
}

.Y:before {
  content: "Left Platform Y (59-46)";
  left: 94px;
  top: -100px;
  width: 341px;
  transform: rotate(0.05turn);
}

.Y:after {
  content: "Right Platform Y (8-1)";
  left: auto;
  right: 1px;
  top: -160px;
  width: 208px;
  transform: rotate(-0.073turn);
}

/* Left Key */
p {
  &.wheelchair, &.companion, &.ada {
    font-size: 1.2em;
    margin: 0 0 10px 200px;
    position: relative;

    &:before {
      content: " ";
      background-color: #d0d0ce;
      width: 22px;
      height: 16px;
      padding: 3px 0;
      position: absolute;
      left: -32px;
      top: 1px;
      border-radius: 100%;
      text-align: center;
      font-size: .7em;
    }
  }
}
p.wheelchair:before {
  background-image: url(images/wheelchair.svg);
  background-repeat: none;
  background-size: 22px;
}

p.companion:before {
  content: "C";
}

p.ada:before {
  content: "A";
}


/* Borders */
.CC, .Q, .Z {
  &:after {
    content: " ";
    position: absolute;
    top: -120px;
    left: 0;
    right: 0;
    height: 158px;
    width: 1429px;
    margin: 0 auto;
    display: block;
    z-index: -2;
    background-size: 1429px;
    background-image: url(images/line-dotted-q.svg);
    background-repeat: no-repeat;
  }
}

.CC:after {
  top: -15px;
  background-image: url(images/line-dotted-cc.svg);
}

.Z:after {
  top: -46px;
  background-image: url(images/line.svg);
} 

/* Print */
body.print {
  margin-top: 250px;
  padding-bottom: 100px;
}

.print {

  & .title {
    display: block;
  }

  & .standard {
    display: none;
  }

  /* hide/show numbers on print */

  & .seat {
    color: $gray;

    &.zoneTwo {
      color: $pink;
    }

    &.zoneThree {
      color: $blue;
    }

    &.zoneFour {
      color: $yellow;
    }

    &.zoneFive {
      color: $green;
    }

    &.zoneSix {
      color: $black;
    }

    &:last-child, &:first-child, &:nth-last-child(10n), &.C36, &.X25, &.X28, &.X38, &.X41, &.X50, &.X60, &.Y15, &.Y20, &.Y39, &.Y29, &.Z38, &.Z20, &.Z26, &.TC2, &.TC65 {
      color: $black;
      &.zoneTwo, &.zoneThree, &.zoneSix {
        color: $white;
      }
    }
  }

  /* Platform Seats hide numbers */
  &  .C ul :nth-child(-n+6), & .I ul :nth-child(-n+8), & .Y ul :nth-child(-n+14), & .Y ul :nth-child(-n+1), & .Y ul :nth-child(n+37), & .seat.C37, &  .seat.I42, & .seat.TC1, & .seat.TC66, & .seat.X32, & .seat.X44, & .seat.X54, & .seat.X64, & .seat.Y16, & .seat.Y26, & .seat.Z19, & .seat.Z40 {
    color: $gray;

    &.zoneTwo {
      color: $pink;
    }
    &.zoneThree {
      color: $blue;
    }
    &.zoneFour {
      color: $yellow;
    }
    &.zoneFive {
      color: $green;
    }
    &.zoneSix {
      color: $black;
    }
  } 

  /* WheelChair Seats */
  & .seat.wheelchair {
    &:before{
      content: " ";
      width: 22px;
      height: 16px;
      padding: 3px 0;
      position: absolute;
      left: -32px;
      top: 1px;
      border-radius: 100%;
      text-align: center;
      font-size: .7em;
      background-image: url(images/wheelchair.svg);
      background-repeat: none;
      background-size: 22px;
      position: absolute;
      top: 0;
      left: 0;
    }
    &.zoneTwo, &.zoneThree, &.zoneSix {
      &:before{
        background-image: url(images/wheelchair-white.svg);
      }
    }
  }

  /* Companion and ADA Seats */
  & .seat.companion, & .C37, & .I42, & .TC1, & .TC66 {
    &:before {
      color: $black;
      font-size: 1.2em;
      content: "C";
      width: 22px;
      height: 14px;
      padding: 5px 0;
      position: absolute;
      left: -32px;
      top: 1px;
      border-radius: 100%;
      text-align: center; 
      background-repeat: none;
      background-size: 22px;
      position: absolute;
      top: 0;
      left: 0;
    }
    &.zoneTwo:before, &.zoneThree:before, &.zoneSix:before {
      color: $white;
    }
  }

  & .C37:before, & .I42:before, & .TC1:before, & .TC66:before {
    content: "A";
  }

  /*Zone Key*/
  & .zoneSelector {
    position: absolute;
    bottom: auto;
    top: 1750px;
    right: 0px;
    left:  auto;
    width: 300px;
    background-color: transparent;
  }

  & .zoneSelector {
    & li {
      height:35px;
    }
    & .zone {
    border-radius: 100%;
    color: $gray;
    width:  22px;
    height: 22px;
    padding: 0;
    }
    & .zoneTwo .zone {
      color: $pink;
    }
    & .zoneThree .zone {
      color: $blue;
    }
    & .zoneFour .zone {
      color: $yellow;
    }
    & .zoneFive .zone {
      color: $green;
    }
    & .zoneSix .zone {
      color: $black;
    }
  }

  & input {
    padding-top: 2px;
  }

  & .totalSeats {
    display: none;
  }

}

@media print {
  .printBTN {
    display: none;
  }
}
  /*end print*/
